services:
  db:
    image: pgvector/pgvector:pg16
    container_name: culture_circle_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: culture_circle
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: